* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  body {
    background-color: #eff7f2;
  }
  .row {
    background-color: white;
    border-radius: 25px;
    margin: 2% 0%;
  }
  .image > img {
    max-width: 100%;
    height: 60vh;
    padding-bottom: 10px;
    border-radius: 25px;
    /* margin: 10px; */
  }
  #form {
    padding-bottom: 2%;
  }
  #judul {
    padding: 10px;
  }
  #content1 {
    margin-top: 30px;
  }
  .ask {
    text-align: center;
    padding-bottom: 20px;
  }
  .switch {
    text-decoration: none;
}
  @media (max-width: 576px) {
    img {
      display: none;

    }
    .image > img {
      max-width: 100%;
      height: 40vh;
      padding-bottom: 10px;
      border-radius: 25px;
    }
    
  }
  